@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
  }
  
  .ql-editor {
    font-size: 1.05rem;
  }

  .post-content p {
    margin-bottom: 0.5rem;
  }
  
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: red;
  }





  /* inventory */
  header {
    background: #fff;
  }
  header .container {
    @apply max-w-[1400px] flex items-center justify-between mx-auto my-0 px-5 py-2.5;
  }
  header a {
    @apply text-[#333] no-underline;
  }
  .pages {
    @apply max-w-[1400px] mx-auto my-0 p-5;
  }
  
  /* homepage */
  .home {
    @apply grid grid-cols-[3fr_1fr] gap-[100px];
  }
  .workout-details {
    @apply rounded relative shadow-[2px_2px_5px_rgba(0,0,0,0.05)] mx-auto my-5 p-5;
    background: #fff;
    max-height: 500px;
  }
  .workout-details h4 {
    @apply text-[1.2em] text-[color:var(--primary)] mt-0 mb-2.5 mx-0;
  }
  .workout-details p {
    @apply text-[0.9em] text-[#555] m-0;
  }
  .workout-details span {
    @apply absolute cursor-pointer text-[#333] p-1.5 rounded-[50%] right-5 top-5;
    background: #090909;
  }
  
  /* new workout form */
  label,
  input {
    @apply block;
  }
  input {
    @apply w-full border rounded box-border mt-2.5 mb-5 p-2.5 border-solid border-[#ddd];
  }
  form button {
    @apply text-black rounded cursor-pointer p-2.5 border-0;
    background: var(--primary);
    font-family: "Poppins";
  }
  div.error {
    @apply border border-[color:var(--error)] text-[color:var(--error)] rounded mx-0 my-5 p-2.5 border-solid;
    background: #ffefef;
  }
  input.error {
    @apply border border-[color:var(--error)] border-solid;
  }
  /* Button styles */
  button {
    @apply bg-[color:var(--primary)] text-black rounded cursor-pointer transition-[background-color] duration-[0.3s] ease-[ease] mr-2.5 px-5 py-2.5 border-[none] last:mr-0 hover:bg-[darken(var(--primary),10%)]; /* Add margin-right for spacing between buttons */
  }
  button:last-child {
    /* Remove margin-right for the last button */
  }
  
  /* Add styles for search bar */
  .search-bar {
      @apply flex items-center space-x-2.5;
  }
  
  .search-bar input {
      @apply border rounded p-2.5;
  }
  
  /* Add styles for sort buttons */
  .sort-buttons {
      @apply flex items-center space-x-2.5;
  }
  
  .sort-buttons button {
    @apply bg-[color:var(--primary)] text-black rounded cursor-pointer px-5 py-2.5;
  }
  
  .no-search-result-message {
    @apply bg-white p-5 rounded shadow-[2px_2px_5px_rgba(0,0,0,0.05)]
      text-slate-600 font-medium text-lg;
  }